(
    physics: (
        gravity: -980.0,
        terminal_velocity: -500.0,
    ),
    window: (
        width: 1280.0,
        height: 720.0,
        title: "Tropical Fox",
        resizable: true,
    ),
)
